{% load static %}
<!DOCTYPE html>
<html>

<head lang="ja">
  <meta charset="UTF-8">
  <title>{% block title %}受付システム{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

</head>

<body>
  <section class="bg-light py-5">
    <div class="container px-5">
      <h1 class="text-center">{% block page_title %}{% endblock %}</h1>
      {% block main %}{% endblock %}
    </div>
  </section>
</body>

</html>