{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}初回登録画面{% endblock title %}
{% block page_title %}参加者登録{% endblock page_title %}
{% block main %}
<div class="card border-info my-3 mx-2 shadow-sm">
  <form action="" method="post" class="mx-3 my-3" enctype="multipart/form-data">
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.last_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <label for="last_name">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.first_name.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.read_last_name.label }}</label>
        {{ form.read_last_name }}
        {% if form.read_last_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.read_last_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <label for="last_name">{{ form.read_first_name.label }}</label>
        {{ form.read_first_name }}
        {% if form.read_first_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.read_first_name.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">{{ form.birthday.label }}</label>
      <div class="row birthday_select">
        {{ form.birthday }}
      </div>
    </div>
    <div class="form-group">
      <label>{{ form.gender.label }}</label>
      <div class="form-inline">
        {{ form.gender }}
        {% if form.gender.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.gender.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
      {% if form.phone_number.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.phone_number.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="postal_code">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
      {% if form.postal_code.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.postal_code.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="street_address">{{ form.street_address.label }}</label>
      {{ form.street_address }}
      {% if form.street_address.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.street_address.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="street_address">{{ form.profession.label }}</label>
      <div class="form-inline">
        {{ form.profession }}
        {% if form.profession.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.profession.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="student_form">
      <div class="form-group">
        <label for="postal_code">{{ form.high_school_name.label }}</label>
        {{ form.high_school_name }}
        {% if form.high_school_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.high_school_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="school_year">{{ form.school_year.label }}</label>
        <div class="col-sm-6">
          {{ form.school_year }}
          {% if form.school_year.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.school_year.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="graduate">{{ form.graduation_year.label }}</label>
        <div class="col-sm-6">
          {{ form.graduation_year }}
          {% if form.graduation_year.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.graduation_year.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="other_form">
      <div class="form-group">
        <label for="graduate">{{ form.graduate.label }}</label>
        <div class="col-sm-6">
          {{ form.graduate }}
          {% if form.graduate.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.graduate.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="certification">{{ form.certification.label }}</label>
        <div class="col-sm-6">
          {{ form.certification }}
          {% if form.certification.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.certification.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="department">{{ form.department.label }}</label>
      <div class="col-sm-6">
        {{ form.department }}
        {% if form.department.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.department.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    {% if form.errors %}
    {{ form.non_field_errors }}
    {% endif %}
    <button type="submit" class="btn btn-success mt-5 mx-auto d-block col-sm-5">編集を終了する</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  $(function () {
    // フォーム切り替え関数
    const change_form = select_val => {
      if (select_val == 1) {
        // 学生の場合のフォーム
        $(".other_form").hide();
        $(".student_form").show();
        $(".student_form").find("input").prop("disabled", false);
        $(".other_form").find("input").prop("disabled", true);
      } else if (select_val == 2) {
        // 学生ではない場合のフォーム
        $(".student_form").hide();
        $(".other_form").show();
        $(".student_form").find("input").prop("disabled", true);
        $(".other_form").find("input").prop("disabled", false);
      }
    }
    // ロード時の初期表示を設定
    change_form($("#formtools_profession").val())
    // 複数送信不可
    $('button').on('submit', function () {
      $('button').prop('disabled', true);
    });
    // 生年月日位置調整
    $(".birthday_select").find("select").addClass('col mx-3');
    // フォーム切り替え
    $("#formtools_profession").change(function () {
      let profession_val = $(this).val();
      change_form(profession_val)
    });
  });
</script>
<!-- 青い枠を消して、ラジオボタンを救いたい。 -->
<style>
  textarea:focus,
  input:focus,
  input[type]:focus,
  .uneditable-input:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid skyblue;
    background-color: #ffffff;
  }
</style>
{% endblock %}