{% extends "base.html" %}
{% load static widget_tweaks %}
{% load i18n %}
{% block title %}確認画面{% endblock title %}
{% block page_title %}確認画面{% endblock page_title %}
{% block main %}
<div class="card border-info my-3 mx-2 shadow-sm">
  <div class=" check">
  <table class="table">

    <tr>
      <th>{{ form.last_name.label }}:</th>
      <td>{{ form.last_name.data }}</td>
    </tr>
    <tr>
      <th>{{ form.first_name.label }}:</th>
      <td>{{ form.first_name.data }}</td>
    </tr>
    <tr>
      <th>{{ form.read_last_name.label }}:</th>
      <td>{{ form.read_last_name.data }}</td>
    </tr>
    <tr>
      <th>{{ form.read_first_name.label }}:</th>
      <td>{{ form.read_first_name.data }}</td>
    </tr>
    <tr>
      <th>{{ form.birthday.label }}:</th>
      <td>{{ form.birthday.data }}</td>
    </tr>
    <tr>
      <th>{{ form.gender.label }}:</th>
      <td>{% if form.gender.data == "1" %}男性
        {% elif form.gender.data == "2" %}女性
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.phone_number.label }}:</th>
      <td>{{ form.phone_number.data }}</td>
    </tr>
    <tr>
      <th>{{ form.postal_code.label }}:</th>
      <td>{{ form.postal_code.data }}</td>
    </tr>
    <tr>
      <th>{{ form.street_address.label }}:</th>
      <td>{{ form.street_address.data }}</td>
    </tr>
    <tr>
      <th>{{ form.profession.label }}:</th>
      <td>{% if form.profession.data == "1" %}学生
        {% elif form.profession.data == "2" %}その他
        {% endif %}
      </td>
    </tr>
    {% if form.profession.data == "1" %}
    <tr>
      <th>{{ form.school_year.label }}:</th>
      <td>{{ form.school_year.data }}年</td>
    </tr>
    <tr>
      <th>{{ form.graduation_year.label }}:</th>
      <td>{{ form.graduation_year.data }}年</td>
    </tr>
    <tr>
      <th>{{ form.high_school_name.label }}:</th>
      <td>{{ form.high_school_name.data }}</td>
    </tr>
    {% elif form.profession.data == "2" %}
    <tr>
      <th>{{ form.graduate.label }}:</th>
      <td>{% if form.graduate.data == True %}はい
          {% else %}いいえ
          {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.certification.label }}:</th>
      <td>{% if form.certification.data == True %}はい
        {% else %}いいえ
        {% endif %}</td>
    </tr>
    {% endif %}
    <tr>
      <th>{{ form.department.label }}:</th>
      <td>{% if form.department.data == "1" %}医療福祉事務学科
        {% elif form.department.data == "2" %}診療情報管理士学科
        {% elif form.department.data == "3" %}ホテル・ブライダル学科
        {% elif form.department.data == "4" %}経営アシスト学科
        {% elif form.department.data == "5" %}公務員・公務員速修学科
        {% elif form.department.data == "6" %}保育学科
        {% elif form.department.data == "7" %}情報スペシャリスト学科
        {% elif form.department.data == "8" %}情報システム学科
        {% elif form.department.data == "9" %}ゲームクリエイター・ゲームプログラマー学科
        {% elif form.department.data == "10" %}データマーケター学科
        {% elif form.department.data == "11" %}ネット・動画クリエイター学科
        {% elif form.department.data == "12" %}CGデザイン学科
        {% endif %}</td>
    </tr>
  </table>
  <form action="" method="post">{% csrf_token %}
      {% for field in form %}{{ field.as_hidden }}
      {% endfor %}
      <input type="hidden" name="{{ stage_field }}" value="2" />
      <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
      <div class="row mb-3">
          <button type="submit" class="btn btn-success col mx-5">確定</button>
          <button type="button" class="btn btn-primary col mx-5" id="edit_button">編集</button>
      </div>
  </form>
  </div>
  <form action="" method="post" class="edit mx-3 my-3" enctype="multipart/form-data">
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.last_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <label for="last_name">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.first_name.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.read_last_name.label }}</label>
        {{ form.read_last_name }}
        {% if form.read_last_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.read_last_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <label for="last_name">{{ form.read_first_name.label }}</label>
        {{ form.read_first_name }}
        {% if form.read_first_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.read_first_name.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">{{ form.birthday.label }}</label>
      <div class="row birthday_select">
        {{ form.birthday }}
      </div>
    </div>
    <div class="form-group">
      <label>{{ form.gender.label }}</label>
      <div class="form-inline">
        {{ form.gender }}
        {% if form.gender.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.gender.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
      {% if form.phone_number.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.phone_number.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="postal_code">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
      {% if form.postal_code.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.postal_code.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="street_address">{{ form.street_address.label }}</label>
      {{ form.street_address }}
      {% if form.street_address.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.street_address.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="profession">{{ form.profession.label }}</label>
      <div class="form-inline">
        {{ form.profession }}
        {% if form.profession.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.profession.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="student_form">
      <div class="form-group">
        <label for="hight_school_name">{{ form.high_school_name.label }}</label>
        {{ form.high_school_name }}
        {% if form.high_school_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.high_school_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="school_year">{{ form.school_year.label }}</label>
        <div class="col-sm-6">
          {{ form.school_year }}
          {% if form.school_year.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.school_year.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="graduate">{{ form.graduation_year.label }}</label>
        <div class="col-sm-6">
          {{ form.graduation_year }}
          {% if form.graduation_year.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.graduation_year.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="other_form">
      <div class="form-group">
        <label for="graduate">{{ form.graduate.label }}</label>
        <div class="col-sm-6">
          {{ form.graduate }}
          {% if form.graduate.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.graduate.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="certification">{{ form.certification.label }}</label>
        <div class="col-sm-6">
          {{ form.certification }}
          {% if form.certification.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.certification.errors.0 }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="department">{{ form.department.label }}</label>
      <div class="col-sm-6">
        {{ form.department }}
        {% if form.department.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.department.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    {% if form.errors %}
    {{ form.non_field_errors }}
    {% endif %}
    <button type="submit" class="btn btn-success mt-5 mx-auto d-block col-sm-5">編集を終了する</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  $(function () {
    const change_form = radio_val => {
      if (radio_val == 1) {
        // 学生の場合のフォーム
        $(".other_form").hide();
        $(".student_form").show();
        $(".student_form").find("input").prop("disabled", false);
        $(".other_form").find("input").prop("disabled", true);
      } else if (radio_val == 2) {
        // 学生ではない場合のフォーム
        $(".student_form").hide();
        $(".other_form").show();
        $(".student_form").find("input").prop("disabled", true);
        $(".other_form").find("input").prop("disabled", false);
      }
    }

    $('button').on('submit', function () {
        $('button').prop('disabled', true);
    });

    // ロード時の初期表示を設定
    change_form($("#formtools_profession").val())
    $('.edit').hide();

    $(".birthday_select").find("select").addClass('col mx-3');
    // フォーム切り替え送信用のフォームを無視するためのnot(hidden)
    $("#formtools_profession:not(hidden)").change(function () {
      let profession_val = $(this).val();
      change_form(profession_val)
    });
    // 編集画面に切り替え
    $('#edit_button').click(function(){
      $('.check').hide();
      $('.edit').show();
    });
  });
</script>
<!-- 青い枠を消して、ラジオボタンを救いたい。 -->
<style>
  textarea:focus,
  input:focus,
  input[type]:focus,
  .uneditable-input:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid skyblue;
    background-color: #ffffff;
  }
</style>
{% endblock %}