{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}初回登録画面{% endblock title %}
{% block page_title %}参加者登録{% endblock page_title %}
{% block main %}
<form method="post">
  <div class="form-inline form-group">
    {{ form.first_name }}
    <label for="name" class="ml-5 mr-2">{{ form.last_name.label }}</label>
    {{ form.last_name }}
  </div>
  <div class="form-inline form-group">
      <label for="name" class=" mr-2">{{ form.read_first_name.label }}</label>
      {{ form.read_first_name }}
      <label for="name" class="ml-5 mr-2">{{ form.read_last_name.label }}</label>
      {{ form.read_last_name }}
  </div>
  <div class="form-group form-inline">
      <label for="name" class="ml-5 mr-2">{{ form.birthday.label }}</label>
      {{ form.birthday }}
  </div>
  <div class="form-group">
      <label for="name" class="ml-5 mr-2">{{ form.gender.label }}</label>
      {{ form.gender }}
  </div>
  <div class="form-group">
      <label for="name" class="ml-5 mr-2">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
  </div>
  <div class="form-group">
      <label for="name" class="ml-5 mr-2">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
  </div>
  
  <button type="submit" class="btn btn-success">登録</button>
  {% csrf_token %}
</form>

{% endblock %}