{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}２回目以降登録画面{% endblock title %}
{% block page_title %}検索画面{% endblock page_title %}
{% block main %}
<div class="card border-info my-3 mx-2 shadow-sm">
  <form action="" method="post" class="mx-3 my-3" enctype="multipart/form-data">
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.last_name.errors.0 }}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <label for="last_name">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.first_name.errors.0 }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">{{ form.birthday.label }}</label>
      <div class="row birthday_select">
        {{ form.birthday }}
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
      {% if form.phone_number.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.phone_number.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="postal_code">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
      {% if form.postal_code.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.postal_code.errors.0 }}
      </div>
      {% endif %}
    </div>
    {% if form.errors %}
    {{ form.non_field_errors }}
    {% endif %}
    <button type="submit" class="btn btn-info mt-5 mx-auto d-block col-sm-5">入力内容の確認に進む</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
{% block js %}
<script>
  $(function () {
    //ajax 未定
    //   let token = '{{ csrf_token }}'; 
    //   let sendData;
    //   sendData['last_name'];
    //   sendData['first_name'];
    //   sendData['birthday'];
    //   sendData['phone_number'];
    //   sendData['postal_code'];

    //   function sendAjax(){
    //   $.ajax({
    //     headers: { "X-CSRFToken": token },
    //     type: 'POST',
    //     url: '',
    //     data: sendData,
    //     dataType: 'text'
    //   }).fail(function ( error, status){
    //     console.log(status)
    //   }).done(function(data){
    //     console.log(data)
    //   })
    // };
    // 生年月日位置調整
    $(".birthday_select").find("select").addClass('col mx-3');
  });

</script>
<!-- 青い枠を消して、ラジオボタンを救いたい。 -->
<style>
  textarea:focus,
  input:focus,
  input[type]:focus,
  .uneditable-input:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid skyblue;
    background-color: #ffffff;
  }
</style>
{% endblock %}