{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}初回登録画面{% endblock title %}
{% block page_title %}参加者登録{% endblock page_title %}
{% block main %}
<ul class="list-group">
	<li class="list-group-item">
		名前（漢字）
		<span class="badge">古川真旗</span>
	</li>
	<li class="list-group-item">
		生年月日
		<span class="badge">1999年10月20日</span>
	</li>
	<li class="list-group-item">
		電話番号
		<span class="badge">08082376490</span>
    </li>
    <li class="list-group-item">
		郵便番号
		<span class="badge">7000866</span>
    </li>
    <li class="list-group-item">
		参加希望学科
		<span class="badge">情報スペシャリスト学科</span>
	</li>
</ul>
{% endblock %}