{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}２回目以降登録画面{% endblock title %}
{% block page_title %}検索画面{% endblock page_title %}
{% block main %}
<a href="javascript:history.back()">[入力画面に戻る]</a>
<div class="card my-3 mx-2 shadow-sm">
<table class="table">
  
  <tr>
    <th>{{ form.last_name.label }}:</th>
    <td>{{ form.last_name.data }}</td>
  </tr>
  <tr>
    <th>{{ form.first_name.label }}:</th>
    <td>{{ form.first_name.data }}</td>
  </tr>
  <tr>
    <th>{{ form.birthday.label }}:</th>
    <td>{{ form.birthday.data }}</td>
  </tr>
  <tr>
    <th>{{ form.phone_number.label }}:</th>
    <td>{{ form.phone_number.data }}</td>
  </tr>
  <tr>
    <th>{{ form.postal_code.label }}:</th>
    <td>{{ form.postal_code.data }}</td>
  </tr>

  <tr>
    <th>{{ form.department.label }}:</th>
    <td>{% if form.department.data == 1 %}医療福祉事務学科
      {% elif form.department.data == 2 %}診療情報管理士学科
      {% elif form.department.data == 3 %}ホテル・ブライダル学科
      {% elif form.department.data == 4 %}経営アシスト学科
      {% elif form.department.data == 5 %}公務員・公務員速修学科
      {% elif form.department.data == 6 %}保育学科
      {% elif form.department.data == 7 %}情報スペシャリスト学科
      {% elif form.department.data == 8 %}情報システム学科
      {% elif form.department.data == 9 %}ゲームクリエイター・ゲームプログラマー学科
      {% elif form.department.data == 10 %}データマーケター学科
      {% elif form.department.data == 11 %}ネット・動画クリエイター学科
      {% elif form.department.data == 12 %}CGデザイン学科
      {% endif %}</td>
  </tr>
</table>
</div>
<form action="" method="post">{% csrf_token %}
  {% for field in form %}{{ field.as_hidden }}
  {% endfor %}
  <input type="hidden" name="{{ stage_field }}" value="2" />
  <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
  <button type="submit" class="btn btn-success mt-5 mx-auto d-block col-sm-5">検索する</button>
</form>

{% endblock %}
