{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}２回目以降登録画面{% endblock title %}
{% block page_title %}検索画面{% endblock page_title %}
{% block main %}
<div class="card border-info my-3 mx-2 shadow-sm">
  <form action="{% url 'reception:search_ajax' %}" method="post" class="mx-3 my-3" enctype="multipart/form-data" novalidate="novalidate">
    <div class="row form-group">
      <div class="col">
        <label for="first_name">{{ form.last_name.label }}</label>
        {{ form.last_name }}
      </div>
      <div class="col">
        <label for="last_name">{{ form.first_name.label }}</label>
        {{ form.first_name }}
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">{{ form.birthday.label }}</label>
      <div class="row birthday_select">
        {{ form.birthday }}
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
    </div>
    <div class="form-group">
      <label for="postal_code">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
    </div>
    <button type="submit" class="btn btn-info mt-5 mx-auto d-block col-sm-5">入力内容の確認に進む</button>
    {% csrf_token %}
  </form>
</div>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="label1">登録情報が見つかりませんでした。</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        入力内容に間違いがない確認してください。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="label1">入力内容が正しくありません。</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          入力漏れや、-(ハイフン)などの記号が含まれていないか確認してください。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script>
  $(function () {
    $("form").submit(function (event) {
      event.preventDefault();
      let form = $(this);
      $.ajax({
        url: form.prop("action"),
        method: form.prop("method"),
        data: form.serialize(),
        timeout: 10000,
        dataType: "text",
      }).done(function (data) {
        // 文字列からJSONに変換
        data = JSON.parse(data);
        if (data.db_search == "False") {
          $('#modal1').modal('show');
        } else if (data.db_search == "True") {
          window.location.href = data.response_url;
        } else if (data.db_valid_check == "False"){
          $('#modal2').modal('show');
        }
      })
    });
    // 生年月日位置調整
    $(".birthday_select").find("select").addClass('col mx-3');
  });

</script>
<!-- 青い枠を消して、ラジオボタンを救いたい。 -->
<style>
  textarea:focus,
  input:focus,
  input[type]:focus,
  .uneditable-input:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid skyblue;
    background-color: #ffffff;
  }
</style>
{% endblock %}